.icon-animate-attribute-black  {     background: url("../_png/ui/20/animate-attribute-black.png") no-repeat center !important; }
.icon-animate-attribute-white  {     background: url("../_png/ui/20/animate-attribute-white.png") no-repeat center !important; }
.icon-animate-motion-black  {     background: url("../_png/ui/20/animate-motion-black.png") no-repeat center !important; }
.icon-animate-motion-white  {     background: url("../_png/ui/20/animate-motion-white.png") no-repeat center !important; }
.icon-animate-rotate-black  {     background: url("../_png/ui/20/animate-rotate-black.png") no-repeat center !important; }
.icon-animate-rotate-white  {     background: url("../_png/ui/20/animate-rotate-white.png") no-repeat center !important; }
.icon-animate-scale-black  {     background: url("../_png/ui/20/animate-scale-black.png") no-repeat center !important; }
.icon-animate-scale-white  {     background: url("../_png/ui/20/animate-scale-white.png") no-repeat center !important; }
.icon-animate-skewx-black  {     background: url("../_png/ui/20/animate-skewx-black.png") no-repeat center !important; }
.icon-animate-skewx-white  {     background: url("../_png/ui/20/animate-skewx-white.png") no-repeat center !important; }
.icon-animate-skewy-black  {     background: url("../_png/ui/20/animate-skewy-black.png") no-repeat center !important; }
.icon-animate-skewy-white  {     background: url("../_png/ui/20/animate-skewy-white.png") no-repeat center !important; }
.icon-animate-translate-black  {     background: url("../_png/ui/20/animate-translate-black.png") no-repeat center !important; }
.icon-animate-translate-white  {     background: url("../_png/ui/20/animate-translate-white.png") no-repeat center !important; }
.icon-arrow-circle-black  {     background: url("../_png/ui/20/arrow-circle-black.png") no-repeat center !important; }
.icon-arrow-circle-white  {     background: url("../_png/ui/20/arrow-circle-white.png") no-repeat center !important; }
.icon-arrow-double-horizontal-black  {     background: url("../_png/ui/20/arrow-double-horizontal-black.png") no-repeat center !important; }
.icon-arrow-double-horizontal-white  {     background: url("../_png/ui/20/arrow-double-horizontal-white.png") no-repeat center !important; }
.icon-arrow-double-vertical-black  {     background: url("../_png/ui/20/arrow-double-vertical-black.png") no-repeat center !important; }
.icon-arrow-double-vertical-white  {     background: url("../_png/ui/20/arrow-double-vertical-white.png") no-repeat center !important; }
.icon-arrow-down-black  {     background: url("../_png/ui/20/arrow-down-black.png") no-repeat center !important; }
.icon-arrow-down-white  {     background: url("../_png/ui/20/arrow-down-white.png") no-repeat center !important; }
.icon-arrow-end-black  {     background: url("../_png/ui/20/arrow-end-black.png") no-repeat center !important; }
.icon-arrow-end-white  {     background: url("../_png/ui/20/arrow-end-white.png") no-repeat center !important; }
.icon-arrow-home-black  {     background: url("../_png/ui/20/arrow-home-black.png") no-repeat center !important; }
.icon-arrow-home-white  {     background: url("../_png/ui/20/arrow-home-white.png") no-repeat center !important; }
.icon-arrow-left-black  {     background: url("../_png/ui/20/arrow-left-black.png") no-repeat center !important; }
.icon-arrow-left-white  {     background: url("../_png/ui/20/arrow-left-white.png") no-repeat center !important; }
.icon-arrow-redo-black  {     background: url("../_png/ui/20/arrow-redo-black.png") no-repeat center !important; }
.icon-arrow-redo-white  {     background: url("../_png/ui/20/arrow-redo-white.png") no-repeat center !important; }
.icon-arrow-right-black  {     background: url("../_png/ui/20/arrow-right-black.png") no-repeat center !important; }
.icon-arrow-right-white  {     background: url("../_png/ui/20/arrow-right-white.png") no-repeat center !important; }
.icon-arrow-undo-black  {     background: url("../_png/ui/20/arrow-undo-black.png") no-repeat center !important; }
.icon-arrow-undo-white  {     background: url("../_png/ui/20/arrow-undo-white.png") no-repeat center !important; }
.icon-arrow-up-black  {     background: url("../_png/ui/20/arrow-up-black.png") no-repeat center !important; }
.icon-arrow-up-white  {     background: url("../_png/ui/20/arrow-up-white.png") no-repeat center !important; }
.icon-brush-black  {     background: url("../_png/ui/20/brush-black.png") no-repeat center !important; }
.icon-brush-white  {     background: url("../_png/ui/20/brush-white.png") no-repeat center !important; }
.icon-chain-black  {     background: url("../_png/ui/20/chain-black.png") no-repeat center !important; }
.icon-chain-white  {     background: url("../_png/ui/20/chain-white.png") no-repeat center !important; }
.icon-checker-black  {     background: url("../_png/ui/20/checker-black.png") no-repeat center !important; }
.icon-checker-white  {     background: url("../_png/ui/20/checker-white.png") no-repeat center !important; }
.icon-clock-black  {     background: url("../_png/ui/20/clock-black.png") no-repeat center !important; }
.icon-clock-white  {     background: url("../_png/ui/20/clock-white.png") no-repeat center !important; }
.icon-copy-black  {     background: url("../_png/ui/20/copy-black.png") no-repeat center !important; }
.icon-copy-white  {     background: url("../_png/ui/20/copy-white.png") no-repeat center !important; }
.icon-edit-black  {     background: url("../_png/ui/20/edit-black.png") no-repeat center !important; }
.icon-edit-white  {     background: url("../_png/ui/20/edit-white.png") no-repeat center !important; }
.icon-ex-black  {     background: url("../_png/ui/20/ex-black.png") no-repeat center !important; }
.icon-ex-white  {     background: url("../_png/ui/20/ex-white.png") no-repeat center !important; }
.icon-exclamation-black  {     background: url("../_png/ui/20/exclamation-black.png") no-repeat center !important; }
.icon-exclamation-white  {     background: url("../_png/ui/20/exclamation-white.png") no-repeat center !important; }
.icon-eye-closed-black  {     background: url("../_png/ui/20/eye-closed-black.png") no-repeat center !important; }
.icon-eye-open-black  {     background: url("../_png/ui/20/eye-open-black.png") no-repeat center !important; }
.icon-floppy-black  {     background: url("../_png/ui/20/floppy-black.png") no-repeat center !important; }
.icon-floppy-white  {     background: url("../_png/ui/20/floppy-white.png") no-repeat center !important; }
.icon-folder-black  {     background: url("../_png/ui/20/folder-black.png") no-repeat center !important; }
.icon-folder-white  {     background: url("../_png/ui/20/folder-white.png") no-repeat center !important; }
.icon-gear-black  {     background: url("../_png/ui/20/gear-black.png") no-repeat center !important; }
.icon-gear-white  {     background: url("../_png/ui/20/gear-white.png") no-repeat center !important; }
.icon-gears-black  {     background: url("../_png/ui/20/gears-black.png") no-repeat center !important; }
.icon-gears-white  {     background: url("../_png/ui/20/gears-white.png") no-repeat center !important; }
.icon-group-black  {     background: url("../_png/ui/20/group-black.png") no-repeat center !important; }
.icon-group-white  {     background: url("../_png/ui/20/group-white.png") no-repeat center !important; }
.icon-history-black  {     background: url("../_png/ui/20/history-black.png") no-repeat center !important; }
.icon-history-white  {     background: url("../_png/ui/20/history-white.png") no-repeat center !important; }
.icon-hourglass-black  {     background: url("../_png/ui/20/hourglass-black.png") no-repeat center !important; }
.icon-hourglass-white  {     background: url("../_png/ui/20/hourglass-white.png") no-repeat center !important; }
.icon-key-black  {     background: url("../_png/ui/20/key-black.png") no-repeat center !important; }
.icon-key-white  {     background: url("../_png/ui/20/key-white.png") no-repeat center !important; }
.icon-layers-black  {     background: url("../_png/ui/20/layers-black.png") no-repeat center !important; }
.icon-layers-white  {     background: url("../_png/ui/20/layers-white.png") no-repeat center !important; }
.icon-layersNo-black  {     background: url("../_png/ui/20/layersNo-black.png") no-repeat center !important; }
.icon-layersNo-white  {     background: url("../_png/ui/20/layersNo-white.png") no-repeat center !important; }
.icon-lightbulb-black  {     background: url("../_png/ui/20/lightbulb-white.png") no-repeat center !important; }
.icon-lightbulb-white  {     background: url("../_png/ui/20/lightbulb-black.png") no-repeat center !important; }
.icon-lock-closed-black  {     background: url("../_png/ui/20/lock-closed-black.png") no-repeat center !important; }
.icon-lock-closed-white  {     background: url("../_png/ui/20/lock-closed-white.png") no-repeat center !important; }
.icon-lock-open-black  {     background: url("../_png/ui/20/lock-open-black.png") no-repeat center !important; }
.icon-lock-open-white  {     background: url("../_png/ui/20/lock-open-white.png") no-repeat center !important; }
.icon-magnifier-black  {     background: url("../_png/ui/20/magnifier-black.png") no-repeat center !important; }
.icon-magnifier-white  {     background: url("../_png/ui/20/magnifier-white.png") no-repeat center !important; }
.icon-minus-black  {     background: url("../_png/ui/20/minus-black.png") no-repeat center !important; }
.icon-minus-white  {     background: url("../_png/ui/20/minus-white.png") no-repeat center !important; }
.icon-node-split-black  {     background: url("../_png/ui/20/node-split-black.png") no-repeat center !important; }
.icon-node-split-white  {     background: url("../_png/ui/20/node-split-white.png") no-repeat center !important; }
.icon-options-black  {     background: url("../_png/ui/20/options-black.png") no-repeat center !important; }
.icon-options-white  {     background: url("../_png/ui/20/options-white.png") no-repeat center !important; }
.icon-pause-black  {     background: url("../_png/ui/20/pause-black.png") no-repeat center !important; }
.icon-pause-white  {     background: url("../_png/ui/20/pause-white.png") no-repeat center !important; }
.icon-player-next  {     background: url("../_png/ui/20/player-next.png") no-repeat center !important; }
.icon-player-previous  {     background: url("../_png/ui/20/player-previous.png") no-repeat center !important; }
.icon-plus-black  {     background: url("../_png/ui/20/plus-black.png") no-repeat center !important; }
.icon-plus-white  {     background: url("../_png/ui/20/plus-white.png") no-repeat center !important; }
.icon-question-black  {     background: url("../_png/ui/20/question-black.png") no-repeat center !important; }
.icon-question-white  {     background: url("../_png/ui/20/question-white.png") no-repeat center !important; }
.icon-restart-black  {     background: url("../_png/ui/20/restart-black.png") no-repeat center !important; }
.icon-restart-white  {     background: url("../_png/ui/20/restart-white.png") no-repeat center !important; }
.icon-square-black  {     background: url("../_png/ui/20/square-black.png") no-repeat center !important; }
.icon-square-white  {     background: url("../_png/ui/20/square-white.png") no-repeat center !important; }
.icon-stopwatch-black  {     background: url("../_png/ui/20/stopwatch-black.png") no-repeat center !important; }
.icon-stopwatch-white  {     background: url("../_png/ui/20/stopwatch-white.png") no-repeat center !important; }
.icon-tool-bezier-black  {     background: url("../_png/ui/20/tool-bezier-black.png") no-repeat center !important; }
.icon-tool-bezier-white  {     background: url("../_png/ui/20/tool-bezier-white.png") no-repeat center !important; }
.icon-tool-picker-black  {     background: url("../_png/ui/20/tool-picker-black.png") no-repeat center !important; }
.icon-tool-picker-white  {     background: url("../_png/ui/20/tool-picker-white.png") no-repeat center !important; }
.icon-tool-precise-black  {     background: url("../_png/ui/20/tool-precise-black.png") no-repeat center !important; }
.icon-tool-precise-white  {     background: url("../_png/ui/20/tool-precise-white.png") no-repeat center !important; }
.icon-tool-select-black  {     background: url("../_png/ui/20/tool-select-black.png") no-repeat center !important; }
.icon-tool-select-white  {     background: url("../_png/ui/20/tool-select-white.png") no-repeat center !important; }
.icon-trash-black  {     background: url("../_png/ui/20/trash-black.png") no-repeat center !important; }
.icon-trash-white  {     background: url("../_png/ui/20/trash-white.png") no-repeat center !important; }
.icon-tree-black  {     background: url("../_png/ui/20/tree-black.png") no-repeat center !important; }
.icon-tree-white  {     background: url("../_png/ui/20/tree-white.png") no-repeat center !important; }
.icon-triangle-down-black  {     background: url("../_png/ui/20/triangle-down-black.png") no-repeat center !important; }
.icon-triangle-down-white  {     background: url("../_png/ui/20/triangle-down-white.png") no-repeat center !important; }
.icon-triangle-right-black  {     background: url("../_png/ui/20/triangle-right-black.png") no-repeat center !important; }
.icon-triangle-right-white  {     background: url("../_png/ui/20/triangle-right.png") no-repeat center !important; }
.icon-triangle-up-black  {     background: url("../_png/ui/20/triangle-up-black.png") no-repeat center !important; }
.icon-triangle-up-white  {     background: url("../_png/ui/20/triangle-up-white.png") no-repeat center !important; }
.icon-ungroup-black  {     background: url("../_png/ui/20/ungroup-black.png") no-repeat center !important; }
.icon-ungroup-white  {     background: url("../_png/ui/20/ungroup-white.png") no-repeat center !important; }
.icon-wrench-black  {     background: url("../_png/ui/20/wrench-black.png") no-repeat center !important; }
.icon-wrench-white  {     background: url("../_png/ui/20/wrench-white.png") no-repeat center !important; }