div.uiSection {
	position: absolute;
}

div.uiSection > div:first-child {
	position: absolute;
}

/* row 1 */
.section-top-row1, .section-top-row2 {
	font-size: 24px;
	background: white;
}

.section-top-row1 > div:first-child, .section-top-row2 > div:first-child {
	top: 0px;
	left: 0px;
	bottom: 0px;
	right: 0px;
	vertical-align: middle;
}

.section-top-row1 .editor {
	margin-left: 4px;
	height: 100%;
	float: left;
}

.section-top-row1 .editor > *, .section-top-row2 div:first-child > * {
	vertical-align: middle;
}

.section-top-row1 .editor span, .section-top-row2 span {
	display: inline-block;
	vertical-align: middle;
}

.section-top-row1 div.menu {
	display: inline-block;
	float: right;
	font-size: 16px;
	margin: 4px 4px 0 0;
}

/* row 2 */
.section-top-row2 > div:first-child > div {
	margin: 0 1ex;
}

.section-top-row2 > div:first-child * {
	margin-right: .4ex;
}

.section-top-row2 > div:first-child span:first-child, .nodeName {
	color: gray;
    font-size: 0.85em;
}

.section-top-row2 > div:first-child span:nth-child(3) {
	color: lightgray;
    font-size: 0.85em;
	font-style: italic;
}

/* row 3 */
.section-top-row3 {
	font-size: 24px;
	border-top: 1px solid gray;
	border-bottom: 1px solid gray;
}

.section-top-row3 > div:first-child {
	top: 2px;
	right: 2px;
	bottom: 2px;
	left: 2px;
}

/* left and right */
.section-left, .section-right, .section-top-row3 {
	background-color: #eee;
}

.section-left {
	border-right: 1px solid gray;
}

.section-right {
	border-left: 1px solid gray;
}

.section-right > div:first-child, .section-left > div:first-child {
	overflow: auto;
	top: 0px;
	left: 0px;
	bottom: 0px;
	right: 0px;
}


/* svg */
.section-svg > div:first-child, .section-rulers > div:first-child {
	top: 0px;
	left: 0px;
	bottom: 0px;
	right: 0px;
}

.ruler {
	position: absolute;
	background-color: #eee;
}

.ruler.vertical {
	border-right: 1px solid black;
}

.ruler.horizontal {
	border-bottom: 1px solid black;
}

.ruler.vertical::before {
	position: absolute;
	top: 0px;
	right: -1px;
	width: 100%;
	height: 133px;
	background-color: inherit;
	content: '';
}


.uiSection .resizer {
	position: absolute;
}

.uiSection .resizer.disabled:hover {
	background-color: initial !important;
	cursor: default !important;
}

.uiSection .resizer:hover {
	background-color: darkgray;
}

.uiSection .resizer.top {
	top: 0px;
	left: 0px;
	width: 100%;
	height: 4px;
}

.uiSection .resizer.top:hover, .uiSection .resizer.bottom:hover {
	cursor: ns-resize;
}

.uiSection .resizer.right:hover, .uiSection .resizer.left:hover {
	cursor: ew-resize;
}

.uiSection .resizer.right {
	top: 0px;
	right: 0px;
	width: 4px;
	height: 100%;
}

.uiSection .resizer.bottom {
	bottom: 0px;
	left: 0px;
	width: 100%;
	height: 4px;
}

.uiSection .resizer.left {
	top: 0px;
	left: 0px;
	width: 4px;
	height: 100%;
}




