div.uiSection {
	position: absolute;
}

div.uiSection > div:first-child {
	position: absolute;
	width: 100%;
	height: 100%;
	border-bottom: 1px solid lightgrey;
}

/* row 1 */
.section-top-row1, .section-top-row2 {
	font-size: 1em;
	background: white;
}

.section-top-row1 > div:first-child, .section-top-row2 > div:first-child {
	top: 0px;
	left: 0px;
	bottom: 0px;
	right: 0px;
	vertical-align: middle;
}

.section-top-row1 .editor {
	margin-left: 4px;
	height: 100%;
	float: left;
	font-size: 1.2em;
}

.section-top-row1 .editor > * {
	vertical-align: middle;
}

.section-top-row1 .editor span, .section-top-row2 span {
	display: inline-block;
	vertical-align: middle;
}

.section-top-row1 div.menu {
	display: inline-block;
	float: right;
	font-size: 16px;
	margin: 4px 4px 0 0;
}

/* row 2 */
.section-top-row2 > div:first-child > div {
	margin: 0 1ex;
}

.section-top-row2 > div:first-child * {
	margin-right: .4ex;
}

.section-top-row2 > div:first-child span:first-child, .nodeName {
	color: gray;
    font-size: 0.85em;
}

.section-top-row2 > div:first-child span:nth-child(3) {
	color: lightgray;
    font-size: 0.85em;
	font-style: italic;
	width: 10em;
}

.section-top-row2 .uiButton {
	vertical-align: bottom !important;
}

/* row 3 */
.section-top-row3 {
	font-size: 24px;
	border-top: 1px solid gray;
	border-bottom: 1px solid gray;
}

.section-top-row3 > div:first-child {
	top: 2px;
	right: 2px;
	bottom: 2px;
	left: 2px;
	width: initial !important;
	height: initial !important;
}

/* bottom */
.section-bottom {
	border-top: 1px solid gray;
}

.eventLog {
	position: absolute;
	
	width: 100%;
	height: 100%;
	
	font-size: 14px;
	box-sizing: border-box;
	overflow: auto;
}

.eventLog:hover p {
	opacity: 1;
}

.eventLog * {
	margin: 0px;
}

@keyframes fadeIn {
	0% { opacity: 0.1; }
	40% { opacity: 1; }
	80% { opacity: 1; }
	100% { opacity: 0.8; }
}

.eventLog p {
	line-height: 24px;
	opacity: 0.8;
	animation: fadeIn 0.5s ease-in-out;
}

.eventLog p.error {
	color: #e00;
	background-color: mistyrose;
}

.eventLog p.warn {
	line-height: 24px;
	color: #483505;
	background-color: lightyellow;
}

.eventLog .black {
	color: black;
}

.eventLog .time {
	margin-left: 1ex;
	font-weight: bold;
	opacity: 0.9;
}

.eventLog .tab {
	padding: 0 1ex;
}


/* left and right */
.section-left, .section-right, .section-top-row3, .section-bottom {
	background-color: #eee;
}

.section-left {
	border-right: 1px solid gray;
}

.section-right {
	border-left: 1px solid gray;
}

.section-right > div:first-child, .section-left > div:first-child {
	overflow: auto;
	top: 0px;
	left: 0px;
	bottom: 0px;
	right: 0px;
}


/* svg */
.section-svg > div:first-child, .section-rulers > div:first-child {
	top: 0px;
	left: 0px;
	bottom: 0px;
	right: 0px;
}

.ruler {
	position: absolute;
	background-color: #eee;
	cursor: default !important;
}

.ruler.vertical {
	border-right: 1px solid black;
}

.ruler.horizontal {
	border-bottom: 1px solid black;
}

.ruler.vertical::before {
	position: absolute;
	top: 0px;
	right: -1px;
	width: 100%;
	height: 133px;
	background-color: inherit;
	content: '';
}


.uiSection .resizer {
	position: absolute;
}

.uiSection .resizer.disabled {
	display: none;
}

.uiSection .resizer.disabled:hover {
	background-color: initial !important;
	cursor: default !important;
}

.uiSection .resizer:hover {
	background-color: darkgray;
}

.uiSection .resizer.top {
	top: 0px;
	left: 0px;
	width: 100%;
	height: 4px;
}

.uiSection .resizer.top:hover, .uiSection .resizer.bottom:hover {
	cursor: ns-resize;
}

.uiSection .resizer.right:hover, .uiSection .resizer.left:hover {
	cursor: ew-resize;
}

.uiSection .resizer.right {
	top: 0px;
	right: 0px;
	width: 4px;
	height: 100%;
}

.uiSection .resizer.bottom {
	bottom: 0px;
	left: 0px;
	width: 100%;
	height: 4px;
}

.uiSection .resizer.left {
	top: 0px;
	left: 0px;
	width: 4px;
	height: 100%;
}



