
/* CSS Tree menu styles */
ul.tree {
    padding-left: 20px;
}

.tree li span {
	vertical-align: top;
}

ul.tree {
	padding-left: 0px;
	white-space: nowrap;
}

ul.tree ul {
	padding-left: 24px;
}

ul.tree li {
    position: relative;
    list-style: none;
}

ul.tree li.leaf {
}

ul.tree li span {
    margin-right: 0.5ex;
}

ul.tree li > ul { 
	display: none;
}

ul.tree li.checked > ul {
	display: block;
}


ul.tree li.checked > span:first-of-type, li.leaf.selected > span:first-of-type {
	/*font-style: italic;*/
	font-weight: bold;
}

ul.tree span.selected, ul.tree li.selected > span {
	font-style: italic;
	/*font-weight: bold;*/
}




